// Fuentes
$fuente-principal : 'Raleway', sans-serif;
// Colores
$secundario: RGB(116,29,81);
$blanco : white;
$negro : black;
$primario: rgb(39, 152, 187);

// Tamaños
$movil : 480px;
$tablet : 768px;
$desktop : 1024px;